.ChooseButtons {
    margin: 15px;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.ChooseButtons-ChoiceButton:hover {
    animation-name: hover-color;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}

.ChooseButtons-ChoiceButton {
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
    display: flex;
    font-size: calc(6px + 1.25vmin);
    align-items: center;
    justify-content: center;
    background-color: #61dafb;
    color: #282c34;
    width: calc(40px + 12vmin);
    height: calc(20px + 2vmin);
    border-width: 0px;
    border-radius: 2px;
}